IvyMainWindow {
    background-color: #353535;
}


IvyMainWindow QListWidget {
    outline: none;
    border: none;
    background-color: #555555;
}


IvyMainWindow QListWidget::item:selected {
    background-color: #c1d2ee;
    border: 1px solid lightblue;
}


IvyMainWindow QListWidget::item:!selected {
    background-color: #aaaaaa;
}


IvyMainWindow IvyScrollArea {
    background-color: #353535;
    border: none;
}


IvyMainWindow QMenu {
    color: white;
    background-color: #353535;
    selection-background-color: palette(highlight);
}
IvyMainWindow QMenu:disabled {
    color: #777777;
}


IvyMainWindow QMenuBar {
    background-color: #353535;
    color: darkgray;
}
IvyMainWindow QMenuBar::item:selected {
    background-color: #353535;
    color: palette(highlight);
    border-bottom: 2px solid palette(highlight);
}


IvyScrollArea QLabel {
    background: #353535;
}


IvyScrollArea QScrollBar:horizontal,
IvyScrollArea QScrollBar:vertical {
    background: #2c2c30;
    border-radius: 3px;
}
IvyScrollArea QScrollBar::handle:horizontal,
IvyScrollArea QScrollBar::handle:vertical {
    background: #565656;
    border: 1px solid #565656;
    border-radius: 3px;
}
IvyScrollArea QScrollBar::add-line:horizontal,
IvyScrollArea QScrollBar::sub-line:horizontal,
IvyScrollArea QScrollBar::add-line:vertical,
IvyScrollArea QScrollBar::sub-line:vertical {
    height: 0px;
}


IvyScrollArea QScrollBar:horizontal {
    height: 12px;
    margin: 4px 4px 0px 0px;
    border-left: 1px solid #2c2c30;
    border-right: 1px solid #2c2c30;
}
IvyScrollArea QScrollBar::handle:horizontal {
    min-width: 20px;
}


IvyScrollArea QScrollBar:vertical {
    width: 12px;
    margin: 0px 0px 4px 4px;
    border-bottom: 1px solid #2c2c30;
    border-top: 1px solid #2c2c30;
}
IvyScrollArea QScrollBar::handle:vertical {
    min-height: 20px;
}
